.headerPozition
    display: flex
    flex-direction: row
    border-radius: 4px
    background-color: #ffffff
    width: 1500px

.navPozition
    display: flex
    padding-left: 20%
    padding-right: 15%

.novigationHeader
    margin: auto 10px auto 10px
    padding: auto 10px auto 10px
    color: #000000
    cursor: pointer
    font-size: 20px

.novigationHeader:hover
    color: #df7116

.imgConteiner
    padding: auto 10px auto 10px

.img

    margin: 30px
    height: 60px
    width: 80px

.commContainer
    display: flex
    flex-direction: row
    margin: auto 5px auto 5px
    height: 50px
    width: 200px

.messengerImgContainer
    padding-right: 2px
    margin-top: 3px
    width: 20%

.messengerImg
    padding-bottom: 2px
    max-height: 20px
    max-width: 20px

.numberContainer
    width: 80%
.number
    padding-bottom: 1px
    color: #000000
    padding: auto 10px auto 0
